<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>zyupload上传实例</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='lib/layui-v2.5.5/css/layui.css') }}" media="all">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/public.css') }}" media="all">
  <link rel="stylesheet" href="{{ url_for('static',filename='lib/jq-module/zyupload/zyupload-1.0.0.min.css') }}"
    media="all">
</head>
<style>
  #item {
    position: relative;
  }

  #item>input {
    cursor: pointer;
  }
</style>

<body>
  <div class="layuimini-container">
    <div class="layuimini-main">
      <blockquote class="layui-elem-quote">
        上传教师名单，批量注册教师账号<br>
        表格包含教师职工号、姓名、性别、授课班级、邮箱等信息
      </blockquote>
      <!-- 上传名单 -->
      <div class="layui-row layui-col-space2">
        <!-- 上传按钮 -->
        <div class="layui-col-md2 layui-input-inline layui-col-md-offset4">
          <input type="text" placeholder="支持上传Excel表格..." class="layui-input" id="file-name" readonly>
        </div>
        <div id="item" class="layui-col-md1">
          <form id="file_form" enctype='multipart/form-data'>
            <input value="选择文件" id="choose" type="button" class="layui-btn layui-btn-primary">

            <input id="fileInp" type="file" name="file" style="display: none;">
          </form>
        </div>
        <div class="layui-col-md1">
          <button class="layui-btn" type="button" id="commit">确认上传</button>
        </div>
      </div>
      <!-- 查看教师名单 -->
      <script type="text/html" id="toolbarDemo">
          <div class="layui-btn-container">
            <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="refresh"><i class="layui-icon layui-icon-refresh-3"></i>刷新</button>
              <!-- <button class="layui-btn data-add-btn" > 刷新 </button> -->
              <!-- <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button> -->
          </div>
      </script>

      <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

      <script type="text/html" id="currentTableBar">
        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="info">授课情况</a>
      </script>
    </div>
  </div>
  <script src="{{ url_for('static',filename='lib/layui-v2.5.5/layui.js')}}" charset="utf-8"></script>
  <script src="{{ url_for('static',filename='lib/jquery-3.4.1/jquery-3.4.1.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/lay-config.js')}}"></script>
  <script src="{{ url_for('static',filename='js/ad_teacher.js')}}"></script>
</body>

</html>
